<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1 th:text="#{category.list}"></h1>
<table>
    <tr>
        <th>ID</th>
        <th th:text="#{Description}">Description</th>
        <th th:text="#{Actions}">Actions</th>
    </tr>
    <tr th:each="cat:${categoryList}">
        <td th:text="${cat.getProductCategoryId()}"></td>
        <td th:text="${cat.getDescription()}"></td>
        <td><a th:href="@{'/categories/edit/' + ${cat.getProductCategoryId()}}" th:text="#{Edit}"> Edit </a></td>
        <td><a th:href="@{'/categories/delete/' + ${cat.getProductCategoryId()}}" th:text="#{Delete}"> Delete </a> </td>
        &nbsp; &nbsp; &nbsp;
        <td><a th:href="@{'/view-products/' + ${cat.getProductCategoryId()}}" th:text="#{View}"> View </a>
        </td>
    </tr>
</table>
<a href="/categories/add" th:text="#{AddCategory}">Add Category</a>

</body>
</html>