<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{AddProduct}">Add Product</title>
</head>
<body>
<form method="post" action="/products/save" th:object="${product}" >
    <input type="hidden" name="categoryId" th:field="*{productCategoryId}">
    <input type="hidden" name="productId" th:field="*{productId}">

    <label for="name" th:text="#{Name}">Name</label>
    <input type="text" id="name" name="name" placeholder="product name" th:field="*{name}" > <br/>

    <label for="description" th:text="#{Description}">Description</label>
    <input type="text" id="description" name="description" placeholder="product description" th:field="*{description}"> <br/>

    <label for="price" th:text="#{Price}">Price</label>
    <input type="number" id="price" name="price" placeholder="product price" th:field="*{price}"> <br/>

    <label for="stock" th:text="#{Stock}">Stock</label>
    <input type="number" id="stock" name="stock" placeholder="product stock" th:field="*{productStock}"> <br/>

    <input type="submit" th:value="#{Save}"> <br/>

</form>
</body>
</html>