# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Software Development Academy\Curs 57 Angular Front-end Technologies individual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
